.ej9__container {
  margin-top: 2rem;
  max-width: 920px;
}

.ej9__parrafo1::first-letter {
  font-size: 60px;
}

.ej9__parrafo1::first-line {
  color: brown;
}

.ej9__parrafo2::first-letter {
  font-size: 60px;
}

.ej9__parrafo2::first-line {
  color: brown;
}