.ej96__container {
  margin-top: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  height: auto;
}

.card__top {
  display: flex;
  justify-content: center;
}

.card__top img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid red;
}

.card__bottom {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__bottom a {
  padding: 1rem;
  background-color: #1976D2;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: fit-content;
}